.wrap-container {
  max-width: var(--width);
  flex: 0 0 var(--width);
  position: relative;
  &.active {
    background: #e7f8fb;
  }
  .el-form-item {
    margin-bottom: 0;
    &.el-form-item--label-right,
    &.el-form-item--label-left {
      .el-form-item__label {
        line-height: 32px;
        min-height: 32px;
      }
    }
    &.el-form-item--label-top {
      .el-form-item__label {
        line-height: 30px;
        min-height: 30px;
        margin-bottom: 0;
        align-items: flex-start;
      }
    }
    .el-form-item__label {
      word-break: break-all;
    }
  }
  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 100;
    .jas_oper_btn {
      position: absolute;
      top: 6px;
      z-index: 10;
      right: 0;
      margin: 0 5px;
      overflow: hidden;
      white-space: nowrap;
      background: #fff;
      border-radius: 24px;
    }
  }
}
